.landing-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  transition: opacity 0.5s ease;
}

.fade-out {
  opacity: 0;
}

/* Animación continua y suave */
.landing-logo {
  width: 120px;
  animation: growSmooth 3s ease-in-out forwards;
}

@keyframes growSmooth {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  20% {
    transform: scale(0.5);
    opacity: 1;
  }

  100% {
    transform: scale(3);
    opacity: 1;
  }
}